<div class="container">
  <div class="row summary">
    <div class="col border rounded">
      <h3 class="text-center"> Hue Bridge </h3>
      <table class="table table-sm">
        <tr><th> name </th><th> {{ config.name }}</th></tr>
        <tr><th> ip address </th><th> {{ config.ipaddress }}</th></tr>
        <tr><th> zigbee channel </th><th> {{ config.zigbeechannel }}</th></tr>
        <tr><th> api version </th><th> {{ config.apiversion }} </th></tr>
        <tr><th> portal service</th><th> {{ config.portalservices }} </th></tr>
      </table>
    </div>
    <div class="col border rounded">
      <h3 class="text-center"> Lights summary </h3>
       <table class="table table-sm">
        <tr><th> Total </th><th> {{ lights|objLength }}</th></tr>
        <tr><th> Number on </th><th> 
          {{ lights | getStateLamp:"on" | objLength  }}
        </th></tr>
        <tr><th> Number reachable </th><th> 
          {{ lights | getStateLamp:"reachable" | objLength  }}
        </th></tr>
      </table>

    </div>
  </div>
</div>
